CompileFlags:
  Remove:
    - "-mlongcalls"
    - "-fstrict-volatile-bitfields"
    - "-fno-tree-switch-conversion"
    - "-mtext-section-literals"

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - drv_unknown_argument
    - drv_unknown_argument_with_suggestion
